@using MovieClient.Models
@model UserModel
@{
    ViewBag.Title = "RegisterUserPage";
}
@using (Html.BeginForm("RegisterUser", "Authentication"))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    var RegMsg = TempData["RegMessage"];
    <b style="font-size:20px">@ViewBag.message</b>
    <h5 style="color:red">@RegMsg</h5>
    <div class="row">
        <div class="col-md-9">
            <form name="UserModel" method="POST" action="/Authentication/RegisterUser">
                <div class="form-group">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "Username" } })
                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.PasswordHash, null, new { @class = "text-danger" })
                </div>
                <div class="form-group" style="margin-top:20px" id="Gender">
                    <input type="radio" name="Gender" id="genderMale" value="true" checked /> Male
                    <input style="margin-left:10px" type="radio" name="Gender" id="genderFemale" value="false" /> Female
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { placeholder = "Age" } })
                    @Html.ValidationMessageFor(model => model.Age, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { placeholder = "Nationality" } })
                    @Html.ValidationMessageFor(model => model.Nationality, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" id="SaveButton" value="Save User Details" class="button is-link"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <h5><a href="/">Back to the main page</a></h5>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}